# Python/Flask virtual environment
backend/venv/
**/__pycache__/
**/*.pyc

# Next.js build and dependencies
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Local Environment Variables files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
